---
http_interactions:
- request:
    method: get
    uri: http://api.farmsense.net/v1/moonphases/?d=1650070642
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Error":0,"ErrorMsg":"success","TargetDate":"1650070642","Moon":["Grass
        Moon"],"Index":13,"Age":13.9420130925713721126157906837761402130126953125,"Phase":"Waxing
        Gibbous","Distance":377612.390000000013969838619232177734375,"Illumination":0.9899999999999999911182158029987476766109466552734375,"AngularDiameter":0.52741425082019854908566003359737806022167205810546875,"DistanceToSun":150140068.965791225433349609375,"SunAngularDiameter":0.53120495852557436666785406487178988754749298095703125}]'
  recorded_at: Sat, 16 Apr 2022 00:57:22 GMT
recorded_with: VCR 6.1.0
